# Spotify Config
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3000/callback
SPOTIFY_REFRESH_TOKEN=

# Slack Config
SLACK_USER_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN= # Optional, use if using Socket Mode

# Bot Behavior Config
POLL_INTERVAL_MS=60000
STATUS_EMOJI=:headphones:
PAUSED_EMOJI=:double_vertical_bar:
STATUS_FORMAT="{song} - {artist}"
